/* reset.css */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
table{
   /* 표 테두리 단일실선 */
    border-collapse: collapse;
    border-spacing: 0;
}
a:link{ color:black;}
a:hover{ text-decoration: none;}
a:active{color:gray;}
/* a:visited{ color:green} */
input, img{
    vertical-align: baseline;
}

