.borderimg {
    border: 10px solid transparent;
    padding: 10px;
    border-image: url(../imgs/border.png) 30 stretch;
    margin: 30px;
}

.borderimg:hover {
    border-image: url(../imgs/border.png) 30 repeat;
}

.borderimg:active {
    border-image: url(../imgs/border.png) 30 space;
}

.borderimg2 {
    border: 10px solid transparent;
    padding: 10px;
    border-image: url(../imgs/border2.png) 20 round;
    margin: 30px;   
}
.borderimg3 {
    border: 50px solid transparent;
    padding: 20px;
    border-image: url(../imgs/border3.png) 50 round;
    margin: 30px;  
    height: 100px; 
}
.borderimg4 {
    border: 20px solid transparent;
    padding: 20px;
    border-image: url(../imgs/cat1.png) 20 round;
    margin: 30px;  
    /* height: 150px;  */
}